{% extends "main/base.html" %} {% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<style>
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .content{
        display: flex;
        flex-flow: row nowrap;
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
    }
    /* Sign Up Section */
    
    .signup_section{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        flex-basis: auto;
        background-color: #52ab98;
    }
    form{
        display: flex;
        flex-flow: row wrap;
        flex-basis: 70%;
        height: auto;
        justify-content: center;
    }
    .signup_text{
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin: 0 0 4% 0;
    }
    input{
        font-family: 'Poppins', sans-serif;
        border: 2px solid #2b6777;
        background-color: #fffafa;
        border-radius: 20px;
        font-size: 30px;
        position: relative;
        padding-left: 3%;
        outline: none;
    }
    .username_container,.password_container{
        display: flex;
        flex-flow: row wrap;
        flex-basis: 70%;
    }
    .username_input,.password_input, .email_input{
        flex-basis: 100%;
        margin-bottom: 5%;
    }
    button{
        display:inline-block;
        padding:0.46em 1.6em;
        margin:0 0.2em 0.2em 0;
        border:0.1em solid #050100;
        border-radius:20px;
        box-sizing: border-box;
        text-decoration:none;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight:300;
        color:#050100;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        background-color:#DFDCE3;
        text-align:center;
        transition: all 0.15s;
        flex-basis: 40%;
    }
    .login_section button:hover{
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color:#DFDCE3;
        background-color: #52ab98;
        border-color:#52ab98;
    }
    .signup_section button:hover{
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color:#DFDCE3;
        background-color: #2b6777;
        border-color:#2b6777;
    }
    h2,p{
        color: #fffafa;
    }
    /* Here the login section of the page ends */
    
    /* Log In seciton */
    .login_section{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        flex-basis: 60%;
        background-color: #2b6777;
    }
    .login_question{
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin: 0 0 4% 0;
        text-align: center;
    }
    .login_text{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 20px;
        margin-left: 2%;
    }
</style>

<div class="login_section">
        <h2 class="login_question">Already Have An Account?</h2>
        <p class="login_text">Log in to experience our platform to its full potencial!</p>
        <a href="http://127.0.0.1:8000/login_user"><button type="button" id="login_btn">Log In</button></a>
</div>
<div class="signup_section">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <!--{{form|crispy}} -->
        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="KDjm8z12GgfXVm3u9vKPv2ynV08hdOnYQddJlQmMVr1MI17c1wEnhbetd7T7b5zb"> -->
        <p class="signup_text">Create Your Account</p>
        <input placeholder="Email" type="email" name="email" class="email_input form-control" required="" id="id_email">
        <input placeholder="Username" type="text" name="username" maxlength="150" autofocus="" class="username_input textInput form-control" required="" id="id_username">
        <input placeholder="Password" type="password" name="password1" autocomplete="new-password" class="password_input textInput form-control" required="" id="id_password1">
        <input placeholder="Repeat Password" type="password" name="password2" autocomplete="new-password" class="password_input textInput form-control" required="" id="id_password2">
        <!-- <input type="checkbox" name="userTeacher" class="checkboxinput form-check-input" id="id_userTeacher"> -->
        <button type="submit" class="btn btn-success">Register</button>
   </form>
        
</div>
{% endblock %}







<!-- 
This is page data :
<QueryDict: {'csrfmiddlewaretoken': ['qeUTw0yXNM3hc6rekjwvJUmbtZWsDJIQhcvp1p8n7pBly6KmQKdVteBUTIEc6aqm'],
'email': ['teacher1@one.com'],
'username': ['teacher1'],
'password1': ['nikolakis123'],
'password2': ['nikolakis123']}>
 -->
